@{
    ViewData["Title"] = "Example controller index sayfası";
    Layout = "ExampleLayout";
}
@section header {
    <p>bu kodlar header ın hemen altına eklenecek.</p>
}
@section footer {
    <p>bu kodlar footer ın hemen altına eklenecek</p>
}
<div>Bu sayfa example controller > index satfası</div>