@{
    ViewData["Title"] = "Home Page";
    var alert = "bu bir c# kodudur!";
}
@section Scripts {
    <script type="text/javascript">
        // alert("Sayfamıza hoşgeldiniz.")
        $(document).ready(() => console.log("Sayfamıza hoşgeldiniz"))
    </script>
}
@section Css {
    <link href="~/css/example.css" rel="stylesheet" />
    <style>
        h1 {
            color: red;
            background-color: blue;
        }
    </style>

}
<h1>Merhaba Dünya</h1>
<hr />
<h2>Merhaba Asp.Net</h2>
@* <partial name="_MenuPartialView" /> *@