@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script type="text/javascript">

    </script>
}
@section Css {
    <link href="~/css/example.css" rel="stylesheet" />
    <style>

    </style>
}
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">
        @* 1.yol *@
        @* @await Component.InvokeAsync("ProductList", new { type = 1 }) *@
        @* 2.yol *@
        <vc:product-list type="1"></vc:product-list>
    </div>
</div>
