@{
    ViewData["Title"] = "Home Page";
    var product = new Product { Id = 1, Name = "Kalem 11", Price = 100, Stock = 200 };
}
@section Scripts {

}
@section Css {

}
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">
        @* 1.yol *@
        @* @await Component.InvokeAsync("ProductList", new { type = 1 }) *@
        @* 2.yol *@
        <vc:product-list type="1"></vc:product-list>
    </div>
    <div class="col-md-4">
        <italic>AspNet.Core</italic>
        <product-show product="@product"></product-show>
    </div>
</div>
<div>
    <img src="/images/car.jpg" />
    <image-thumbnail image-src="/images/car.jpg"></image-thumbnail>
</div>