@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script type="text/javascript">

    </script>
}
@section Css {
    <link href="~/css/example.css" rel="stylesheet" />
    <style>

    </style>

}
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("ProductList")
    </div>
</div>