@{
    ViewData["Title"] = "Add";
}
@model ProductViewModel
<h1>Ürün Ekleme</h1>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi</label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Ürün Fiyat</label>
        <input asp-for="Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Price"></span>

    </div>
    <div class="mb-3">
        <label for="Stock" class="form-label">Ürün Stok</label>
        <input asp-for="Stock" class="form-control" />
        <span class="text-danger" asp-validation-for="Stock"></span>

    </div>
    <div class="mb-3">
        @* <label for="Color" class="form-label">Ürün Renk</label>
        <input asp-for="Color" class="form-control" /> *@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Seçim Yapınız</option>
        </select>
        <span class="text-danger" asp-validation-for="Color"></span>

    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>
    <span>Ürün kaç ay satışta kalacak?</span>
    @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Expire" id="Expire_@item.Key" value="@item.Value">
            <label class="form-check-label" for="Expire_@item.Key">
                @item.Key
            </label>
        </div>
    }
    <span class="text-danger" asp-validation-for="Expire"></span>

    <div class="form-floating">
        <textarea asp-for="Description" class="form-control" placeholder="Açıklama yazınız" style="height: 100px"></textarea>
        <label for="Description">Ürün Açıklama</label>
        <span class="text-danger" asp-validation-for="Description"></span>

    </div>
    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayınlanma Tarihi</label>
        <input asp-for="PublishDate" class="form-control" />
        <span class="text-danger" asp-validation-for="PublishDate"></span>

    </div>
    <button type="submit" class="btn btn-outline-primary">Kaydet</button>
</form>