@{
    ViewData["Title"] = "Add";
}
@model Product
<h1>Ürün Ekleme</h1>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="mb-3">
        <label>Ürün İsmi</label>
        <input asp-for="Name" />
    </div>
    <div class="mb-3">
        <label>Ürün Fiyat</label>
        <input asp-for="Price" />
    </div>
    <div class="mb-3">
        <label>Ürün Stok</label>
        <input asp-for="Stock" />
    </div>
    <div class="mb-3">
        <label>Ürün Renk</label>
        <input asp-for="Color" />
    </div>
    <button type="submit">Kaydet</button>
</form>